body {
    background-color: #9fd8df;
}

.clss {
    width: 800px;
    height: 500px;
    background-color: #b4fff6;
    margin: auto auto;
    text-align: left;
}

.cl2 {
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left: 30px;
}

.man {
    height: 100%;
    width: 300px;
    float: right;
}

.o {
    margin-top: 15px;
}

p {
    margin-top: 15px;
    text-align: left;
    color: #3c415c;
    font-size: 17px;
}

.po {
    color: darkturquoise;
    letter-spacing: 2px;
    word-spacing: 25px;
    padding-top: 190px;
}

a {
    color: rgb(1, 1, 14);
    margin-left: 50px;
    color: #007580;
}

a:hover {
    color: #26001b;
}